<div class="row" ng-app="UlResourceHub" ng-controller="CrewMembersController"> 
  <div class="col-md-12">
    <h1>Routing Example</h1>
     <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
    <div ng-view></div> 
  </div>
</div>


  <div class="progress">
      <div class="determinate" style="width: 70%"></div>
  </div>

  
  <div class="progress">
      <div class="indeterminate"></div>
  </div>
        
